aiohttp==3.12.6
aiohttp-apispec==2.2.3
aiohttp-cors==0.8.1
alembic==1.16.1
asyncpg==0.30.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc1
google-auth==2.40.2
google-genai==1.16.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.0.0
marshmallow==3.14.1
PyJWT==2.10.1
python-dotenv==1.1.0
python-jose==3.5.0
SQLAlchemy==2.0.41